header {
  background-color: coral;
}

body {
  background-color: lightslategray;
}

footer {
  background-color: coral;
}

html {
  color: orange;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

/* grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

@media (min-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1550px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid-container > article {
  background-color: whitesmoke;
}
